.__section {
  position: relative;
  display: block;
  background-position: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.__TesteVinho {
  position: relative;
  left: 15%;
  display: block;
  background-image: url(/src/assets/images/Teste.png);
  background-repeat: no-repeat;
  width: 70%;
  height: 70vh;

  background-position: center;
}

.__TesteVinho a {
  text-decoration: none;
}

.__TesteVinho h3,
h2 {
  font-family: "Spartan";
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0.001em;

  color: #fcfbf8;
}

.__TesteVinho h2 {
  font-size: 44px;
  padding-bottom: 30px;
}

.__TesteVinho-text {
  width: 300px;
  position: relative;
  top: 15%;
  left: 15%;

  align-items: center;
}

@media (max-width: 786px) {
  .__TesteVinho h3,
  h2 {
    width: 70%;
    font-size: 20px;
  }
  .__TesteVinho h2 {
    width: 60%;
    font-size: 30px;
  }
}
