.line-40 {
  margin: 4vh 0 1vh 0;
  width: 40vw;
}

.line-50 {
  margin: 4vh 0;
  width: 50vw;
}

.line-60-end {
  margin: 4vh 0;
  width: 60%;
  float: right;
}

.line-60 {
  margin: 4vh 0;
  width: 60%;
}

.line-100 {
  margin: 5vh 0;
  width: 100%;
}
