.__banner {
  background-image: url(/src/assets/images/Banner-Detalhes.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.home {
  background-image: url(/src/assets/images/Banner-Home.png);
}

.contato {
  background-image: url(/src/assets/images/Banner-Contato.png);
}

.nossosVinhos {
  background-image: url(/src/assets/images/Banner-NossosVinhos.png);
}

.vinicola {
  background-image: url(/src/assets/images/Banner-Vinicola.png);
}

.todosVinhos {
  background-image: url(/src/assets/images/Banner-TodosVinhos.png);
}

.tintos {
  background-image: url(/src/assets/images/Banner-Tintos.png);
}

.brancos {
  background-image: url(/src/assets/images/Banner-Brancos.png);
}

.roses {
  background-image: url(/src/assets/images/Banner-Rosés.png);
}

.espumantes {
  background-image: url(/src/assets/images/Banner-Espumantes.png);
}

.__1 {
  background-image: url(/src/assets/images/Banner-Unico.png);
}

.logo-visible {
  position: relative;
  width: 400px;
  height: 200px;
  left: 10vw;
  top: 20vh;
}

.logo-hidden {
  visibility: hidden;
}

@media (max-width: 786px) {
  .__banner {
    width: 100%;
  }

  .logo-visible {
    visibility: hidden;
  }
}
