.__banner {
  background-repeat: no-repeat;
  position: absolute;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: inline;
}

.home {
  background-image: url(/src/assets/images/Banner-Home.png);
}

.contato {
  background-image: url(/src/assets/images/Banner-Contato.png);
}

.nossosVinhos {
  background-image: url(/src/assets/images/Banner-NossosVinhos.png);
}

.vinicola {
  background-image: url(/src/assets/images/Banner-Vinicola.png);
}

.logo-visible {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 10vw;
  top: 20vh;
}

.logo-hidden {
  visibility: hidden;
}
