.vinicola-inicio h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 40px;
  color: #f6db8e;
  margin-left: 10vw;
  margin-top: 3.5vw;
  margin-bottom: 3vw;
}

.vinicola-inicio h2 {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #f6db8e;
  margin-left: 15vw;
  padding-top: 5vh;
}

.vinicola-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vw;
}

.vinicola-info p {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0015em;
  color: #fff;
  text-align: left;

  width: 30vw;

  white-space: normal;
  margin-left: 5vw;
}

.vinicola-info-dois {
  margin-top: 6vw;
  display: flex;
}

.img-end {
  align-content: flex-end;
  display: flex;
  position: absolute;
  float: right;
  right: 0;
  justify-content: flex-end;
}

.vinicola-info-dois p {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0015em;
  color: #fff;
  text-align: left;

  width: 480px;
  height: 494px;

  white-space: normal;
  margin-left: 35%;
  margin-right: 10vh;
}

.visitacao h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 40px;
  color: #f6db8e;
  margin-left: 10vw;
  margin-top: 3.5vw;
  margin-bottom: 3vw;
  white-space: normal;
}

.visitacao-container-um img {
  height: 100%;
}

.visitacao-container-um {
  display: flex;
  width: 50vw;
}

.visitacao-container-um a {
  text-decoration: none;
}

.container-um {
  text-align: left;
  font-size: 57px;
  line-height: 76px;
  width: 110%;
  white-space: normal;
  margin: 5vh 0 0 10vw;
  width: 80%;
}

.container-dois {
  text-align: justify;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  white-space: normal;
  margin: 5vh 10vw;
  text-align: left;
  width: 80%;
}

.button-agende {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 45px;
  border: 2px solid #f6db8e;
  border-radius: 40px;
  background-color: #f6db8e;
  margin-right: 5vw;
  cursor: pointer;

  margin-left: 10vw;
}

.button-agende p {
  font-family: "Spartan";
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #1a1a19;
  align-items: center;
  text-align: center;
}

.eventos-header h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 40px;
  color: #f6db8e;
  margin-left: 10vw;
  margin-top: 3.5vw;
  margin-bottom: 3vw;
}

.img-evento {
  width: 70%;
  margin: 2% 15%;
}

.eventos-header h2 {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #f6db8e;
  margin-left: 15vw;
}

.eventos-datas h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #f6db8e;
  margin-left: 15vw;
  margin-top: 3.5vw;
  margin-bottom: 3vw;
}

.eventos-datas h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #f6db8e;
  margin-left: 16vw;
}

.detalhes-datas {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vw;
}

.button-detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  border: 2px solid #bdbdbc;
  font-weight: 700;
  border-radius: 40px;
  background-color: transparent;
  color: #bdbdbc;
  margin-right: 5vw;
  cursor: pointer;
  margin-right: 30vw;

  white-space: nowrap;
}

@media (max-width: 786px) {
  .vinicola-inicio h2,
  .eventos h2 {
    font-size: 14px;
  }
  .vinicola-info img {
    width: 100%;
    height: 50%;
  }

  .vinicola-info,
  .vinicola-info-dois {
    display: block;
  }
  .vinicola-info p,
  .vinicola-info-dois p {
    font-size: 14px;
    line-height: 20px;
    width: 80%;
    margin: 25px 0 0 50px;
    height: 200px;
  }

  .vinicola-info-dois img {
    position: static;
  }

  .visitacao h1,
  .eventos h1 {
    font-size: 22px;
  }

  .visitacao-container-um img {
    height: 50%;
  }

  .container-um {
    font-size: 18px;
    width: 80%;
    line-height: 25px;
    margin: 10px;
  }

  .container-dois {
    font-size: 14px;
    width: 75%;
    line-height: 25px;
    margin: 10px;
  }

  .button-agende {
    display: block;
    left: -70%;
    top: 25px;
    width: 100%;
  }

  .button-agende p {
    font-size: 14px;
  }

  .eventos-datas h2 {
    font-size: 20px;
  }

  .detalhes-datas h3 {
    font-size: 16px;
  }

  .button-detalhes {
    padding: 5px;
    position: relative;
    left: 10%;
    top: 5vh;
  }
}
