@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

.__ButtonOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 182px;
  height: 60px;
  border: 2px solid #e5cb7f;
  border-radius: 40px;
  background-color: #1a1a19;
  margin-right: 5vw;
  cursor: pointer;
  padding: 10px;
}

.__ButtonOpen #button-text {
  font-family: "Spartan";
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #f6db8e;
  align-items: center;
  text-align: center;
}

.__ButtonOpen a {
  padding-right: 8px;
}

.__ButtonOpen:hover {
  border-color: #b8a157;
  color: #fff;
}
