.filtro-tipo {
  display: flex;
  margin-left: 10vw;
  margin-top: 5vh;
  margin-right: 5vw;
}

.filtro-tipo a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .filtro-tipo {
    width: 50%;
    display: block;
    margin: 5vh 25%;
  }
}
