.__imgText {
  margin-top: 5vh;
  margin-left: 10%;
  display: flex;
  color: #fff;
}

.__imgText img {
  width: 100%;
  height: 80%;
}

.__imgText p {
  color: #fcfbf8;
  text-align: left;
  font-family: "Spartan";

  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  white-space: normal;

  letter-spacing: 0.0015em;
  color: #fcfbf8;
  list-style-position: inside;

  display: inline-block;
  white-space: normal;
  margin-right: 20%;
  padding-left: 5%;
}

@media (max-width: 786px) {
  .__imgText {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  .__imgText img {
    width: 312px;
    margin: 20px;
  }

  .__imgText p {
    text-align: left;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 30px;
    letter-spacing: 0.004em;
  }
}
