@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Spartan:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Spartan:wght@300;400;700&display=swap");
.__Detalhes-vinho {
  display: flex;
}

.__Detalhes-vinho img {
  width: 253px;
  height: 800px;
  position: absolute;
  left: 20vw;
  top: 20vh;
}

.__Detalhes-vinho h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.__Detalhes-vinho h5 {
  font-family: "Playfair Display";
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.0025em;
  white-space: normal;
  color: #ffffff;
  width: 20vw;
  text-align: left;

  padding-left: 5px;
}

.__Detalhes-vinho h6 {
  font-family: "Spartan";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.0025em;
  white-space: normal;
  color: #ffffff;
  width: 500px;
  text-align: left;

  padding-left: 5px;
  padding: 2vh;
}

.descricao {
  position: relative;
  left: 50vw;
  top: -37vh;
  height: 20vh;
}

.harmonizacoes {
  position: relative;
  left: 20vw;
  top: -30vh;
}

.harmonizacao {
  height: 15vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;

  display: flex;
  align-items: center;
  padding-top: 5vh;
}

.prato {
  display: flex;
  align-items: center;
}

.linha {
  position: relative;
  top: -6vh;
}

.infos {
  display: flex;
  white-space: nowrap;
  position: relative;
  width: 35vw;
  left: 50vw;
  top: -95vh;
  padding-top: 5px;
  justify-content: space-between;
}

.titulo h1 {
  position: relative;
  left: 52vw;
  top: -62vh;
  font-style: normal;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 76px;
  color: #1a1a19;
}

.logo {
  position: relative;
  left: 50vw;
  top: -62vh;
}

.linha3 img {
  width: 50vw;
  position: relative;
  left: 50vw;
  top: -63vh;
}

.button {
  position: relative;
  left: 20vw;
  top: -20vh;
}

.button a {
  text-decoration: none;
}
