@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Spartan:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Spartan:wght@300;400;700&display=swap");
.__Detalhes-vinho {
  display: flex;
}

.__Detalhes-vinho img {
  width: 253px;
  height: 800px;
  position: absolute;
  left: 20%;
  top: 20vh;
}

.__Detalhes-vinho h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.__Detalhes-vinho h5 {
  font-family: "Playfair Display";
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.0025em;
  white-space: normal;
  color: #ffffff;
  width: 20vw;
  text-align: left;

  padding-left: 5px;
}

.__Detalhes-vinho h6 {
  font-family: "Spartan";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.0025em;
  white-space: normal;
  color: #ffffff;
  width: 500px;
  text-align: left;

  padding-left: 5px;
  padding: 2vh;
}

.descricao {
  position: relative;
  left: 50vw;
  top: -37vh;
  height: 20vh;
  max-width: 50%;
}

.harmonizacoes {
  position: relative;
  left: 20%;
  top: -30vh;
}

.harmonizacao {
  height: 15vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;

  display: flex;
  align-items: center;
  padding-top: 5vh;
}

.prato {
  display: flex;
  align-items: center;
}

.linha {
  position: relative;
  top: -6vh;
}

.infos {
  display: flex;
  white-space: nowrap;
  position: relative;
  width: 35vw;
  left: 50vw;
  top: -95vh;
  padding-top: 5px;
  justify-content: space-between;
}

.titulo h1 {
  position: relative;
  left: 50vw;
  top: -62vh;
  font-style: normal;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 76px;
  color: #1a1a19;
  max-width: fit-content;
}

.logo {
  position: relative;
  max-width: 500px;
  top: -62vh;
  left: 50%;
}

.linha3 img {
  width: 50vw;
  position: relative;
  left: 49.2%;
  top: -63vh;
}

.button {
  position: relative;
  left: 20vw;
  top: -20vh;
}

.button a {
  text-decoration: none;
}

@media (max-width: 786px) {
  .__Detalhes-vinho img {
    height: 400px;
    width: 126px;
    left: 5vw;
    top: -80vh;
  }

  .titulo h1 {
    font-size: 18px;
    left: 40vw;
    top: -70.5vh;
  }

  .logo {
    width: 50%;
    top: -62vh;
    left: 30%;
  }

  .prato svg {
    width: 30px;
  }

  .__Detalhes-vinho h4 {
    font-size: 12px;
  }

  .__Detalhes-vinho svg {
    width: 20px;
  }

  .__Detalhes-vinho h5 {
    font-size: 12px;
  }

  .__Detalhes-vinho h6 {
    font-size: 10px;
    width: 150%;
  }

  .infos {
    display: block;
    width: 40vw;
    left: 40vw;
    top: -110vh;
    font-size: 16px;
  }

  .descricao {
    top: -35vh;
    left: 10vw;
    height: 200px;
  }

  .harmonizacao {
    display: block;
    padding-top: 0;
  }
  .harmonizacoes {
    left: 10%;
    top: -30vh;
  }

  .button {
    width: 50vw;
  }
}
